<div style="text-align:center">
  <div class="row" style="margin: auto">
    <div class="col-md-4 text-md-left text-center" id="titleHeader">
      <h1>{{ titleText }}</h1>
      <h3>{{ subtitleText }}</h3>
    </div>
    <div class="col-md-8 text-md-right text-center" id="navigationHeader">
      <ul class="navigation">
        <li (click)="revealHomePage()">[ home ]</li>
        <li (click)="revealModelInputs()">[ calc ]</li>
        <li>[ login ]</li>
        <li>[ contact ]</li>
        <li>[ pay ]</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12" id="headerBorder"></div>
  <router-outlet></router-outlet>
  <div *ngIf="!calculateIsClicked">
    <edusafe-home></edusafe-home>
    <button type="button" class="btn btn-primary" (click)="revealModelInputs()">
      Calculate Your Coverage
    </button>
  </div>
  <div *ngIf="calculateIsClicked">
    <edusafe-model></edusafe-model>
  </div>
  <div id="footerContent">
    &copy; 2018-2019, Edu$afe, Inc.
    <br clear="all">
    <br clear="all">
    Estimates produced on this website are for guidance and illustrative purposes only; these estimates do not represent actionable quotes for coverage. Insurance coverage can only be provided under a proper certificate of authority by a valid NAIC insurance producer. All coverage is subject to comprehensive underwriting, and thus not all who apply for coverage may be eligible. Claims are not payable until fully verified. For detailed questions or concerns, legal or otherwise, please send correspondence to <u>inquiries@edusafe.company</u>.
  </div>
</div>
