<picture>
  <img src="assets/EduSafe_0_Logo.png" id="homeImages">
</picture>
<br clear="all" />
<div class="homeContent">Do you find yourself fretting over whether things outside your control will affect your ability to find a decent job once you obtain your new college degree?</div>
<br clear="all" />
<picture>
  <img src="assets/EduSafe_1_Comic.png" id="homeImages">
</picture>
<br clear="all" />
<div class="homeContent">Are you ever nervous that your choice of major years ago could suddenly be less worthwhile in today's job market?</div>
<br clear="all" />
<picture>
  <img src="assets/EduSafe_2_Comic.png" id="homeImages">
</picture>
<br clear="all" />
<div class="homeContent">Do you have real concerns about how you'll afford to pay the debts you incurred furthering your education?</div>
<br clear="all" />
<picture>
  <img src="assets/EduSafe_3_Comic.png" id="homeImages">
</picture>
<br clear="all" />
<div class="homeContent">Well, we here at EduSafe have you covered. Click below to estimate your monthly payment.</div>
<br clear="all" />
