{{ modelOutputSummary.OutputTitle }}
<div *ngIf="!isCalculated">
  <form>
    <input [(ngModel)]="modelInputEntry.CollegeName"
           [typeahead]="collegesList"
           #collegesSearchBox (keyup)="searchCollege(collegesSearchBox.value)"
           (ngModelChange)="checkIfPaymentCanBeCalculated()"
           name="collegeName"
           class="form-control"
           placeholder="What college do you or will you attend?" />
    <br clear="all" />

    <select required (change)="updateSchoolType($event.target.value)"
            class="form-control">
      <option disabled selected hidden>What kind of school do you or will you attend?</option>
      <option *ngFor="let collegeType of collegeTypesList" [ngValue]="collegeType">
        {{ collegeType }}
      </option>
    </select>
    <br clear="all" />

    <input [(ngModel)]="modelInputEntry.CollegeMajor"
           [typeahead]="collegeMajorsList"
           #collegeMajorSearchBox (keyup)="searchCollegeMajor(collegeMajorSearchBox.value)"
           (ngModelChange)="updateIncomeCoverageAmount($event); checkIfPaymentCanBeCalculated()"
           name="collegeMajor"
           class="form-control"
           placeholder="What is or will be your major?" />
    <br clear="all" />

    <input type="text"
           [(ngModel)]="modelInputEntry.CollegeStartDate"
           (ngModelChange)="checkIfPaymentCanBeCalculated()"
           bsDatepicker
           [bsConfig]="datepickerConfig"
           name="startDate"
           class="form-control"
           placeholder="Approximately when did you or will you start college?" />
    <br clear="all" />

    <input type="text"
           [(ngModel)]="modelInputEntry.ExpectedGraduationDate"
           (ngModelChange)="checkIfPaymentCanBeCalculated()"
           bsDatepicker
           [bsConfig]="datepickerConfig"
           name="graduationDate"
           class="form-control"
           placeholder="What is your expected graduation date?" />
    <br clear="all" />

    <input [(ngModel)]="modelInputEntry.IncomeCoverageAmount"
           (ngModelChange)="checkIfPaymentCanBeCalculated()"
           name="incomeAmount"
           class="form-control"
           placeholder="How much would you like to be covered annually?" />
    <br clear="all" />

    <br clear="all" />
    <button type="button" class="btn btn-primary"
            (click)="submitForCalculation()"
            [disabled]="!canPaymentBeCalculated">Find Out Your Monthly Payment</button>
  </form>
</div>
<div *ngIf="isCalculated">
  <edusafe-output></edusafe-output>
</div>
