<div *ngIf="!isCalculated">
  <form>
    <div class="form-group">
      <label for="collegeNameField">What college do you or will you attend?</label>
      <input [(ngModel)]="modelInputEntry.CollegeName"
             [typeahead]="collegesList"
             #collegesSearchBox (keyup)="searchCollege(collegesSearchBox.value)"
             (ngModelChange)="checkIfPaymentCanBeCalculated()"
             id="collegeNameField"
             name="collegeName"
             class="form-control"
             placeholder="College Name" />
    </div>

    <div class="form-group">
      <label for="schoolTypeField">What kind of school do you or will you attend?</label>
      <select required (change)="updateSchoolType($event.target.value)"
              id="schoolTypeField"
              class="form-control">
        <option class="defaultSelect" disabled selected hidden>Please Select</option>
        <option *ngFor="let collegeType of collegeTypesList" [ngValue]="collegeType">
          {{ collegeType }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="collegeMajorField">What is or will be your major?</label>
      <input [(ngModel)]="modelInputEntry.CollegeMajor"
             [typeahead]="collegeMajorsList"
             #collegeMajorSearchBox (keyup)="searchCollegeMajor(collegeMajorSearchBox.value)"
             (ngModelChange)="updateIncomeCoverageAmount($event); checkIfPaymentCanBeCalculated()"
             id="collegeMajorField"
             name="collegeMajor"
             class="form-control"
             placeholder="College Major" />
    </div>

    <div class="form-group">
      <label for="startDateField">Approximately when did you or will you start college?</label>
      <input type="text"
             [(ngModel)]="modelInputEntry.CollegeStartDate"
             (ngModelChange)="checkIfPaymentCanBeCalculated()"
             bsDatepicker
             [bsConfig]="datepickerConfig"
             id="startDateField"
             name="startDate"
             class="form-control"
             placeholder="Start Date" />
    </div>

    <div class="form-group">
      <label for="gradDateField">What is your expected graduation date?</label>
      <input type="text"
             [(ngModel)]="modelInputEntry.ExpectedGraduationDate"
             (ngModelChange)="checkIfPaymentCanBeCalculated()"
             bsDatepicker
             [bsConfig]="datepickerConfig"
             id="gradDateField"
             name="graduationDate"
             class="form-control"
             placeholder="Grad Date" />
    </div>

    <div class="form-group">
      <label for="incomeAmountField">How much would you like to be covered annually?</label>
      <input type="number"
             [(ngModel)]="modelInputEntry.IncomeCoverageAmount"
             (ngModelChange)="checkIfPaymentCanBeCalculated()"
             id="incomeAmountField"
             name="incomeAmount"
             class="form-control"
             placeholder="Choose Major for Median" />
    </div>
  </form>
  <div *ngIf="isCalculating" class="row justify-content-center" id="calculatingProgressBar">
    <div class="col-md-6 text-left">
      <progressbar [value]="100" [animate]="true" [striped]="true">Calculating...</progressbar>
    </div>
  </div>

  <button type="button" class="btn btn-primary"
          (click)="submitForCalculation()"
          [disabled]="!canPaymentBeCalculated">
    Find Out Your Monthly Payment
  </button>
</div>
<div *ngIf="isCalculated">
  <edusafe-output></edusafe-output>
</div>
