<h2>Notification History</h2>
<div class="table-responsive table-sm">
  <table align="center" class="table">
    <thead class="thead-light">
      <tr>
        <td><b>Date</b></td>
        <td><b>Type</b></td>
        <td><b>Description</b></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notificationHistoryEntry of notificationHistoryEntries">
        <td><i>{{ notificationHistoryEntry.NotificationDate | date: 'shortDate' }}</i></td>
        <td>{{ notificationHistoryEntry.NotificationType }}</td>
        <td>{{ notificationHistoryEntry.NotificationDescription }}</td>
      </tr>
    </tbody>
  </table>
</div>
