<div class="table-responsive">
  <table align="center" class="table">
    <thead>
      <tr>
        <td><b>{{ modelOutputSummary.ModelOutputHeaders.CoverageMonths }}</b></td>
        <td><b>{{ modelOutputSummary.ModelOutputHeaders.YearOneName }}</b></td>
        <td><b>{{ modelOutputSummary.ModelOutputHeaders.YearTwoName }}</b></td>
        <td><b>{{ modelOutputSummary.ModelOutputHeaders.YearThreeName }}</b></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modelOutputEntry of modelOutputSummary.ModelOutputEntries">
        <td>{{ modelOutputEntry.MonthsOfSalaryCoverage }}</td>
        <td>${{ modelOutputEntry.YearOneMonthlyPremiumAmount | number: '1.0-0' }}</td>
        <td>${{ modelOutputEntry.YearTwoMonthlyPremiumAmount | number: '1.0-0' }}</td>
        <td>${{ modelOutputEntry.YearThreeMonthlyPremiumAmount | number: '1.0-0' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row justify-content-center" id="policyDetailsContent">
  <div class="col-md-8 text-left">
    <i><u>Example</u>:</i> For "<b>Coverage Months</b>" of {{ modelOutputEntry.MonthsOfSalaryCoverage }},
    a monthly premium of ${{ modelOutputEntry.YearOneMonthlyPremiumAmount | number: '1.0-0' }}
    starting at the beginning of your <b>{{ modelOutputSummary.ModelOutputHeaders.YearOneName }}</b> covers
    ${{ modelOuputCoverage | number: '1.0-0' }} of income
    (annual income of ${{ resultsEmailEntry.ModelInputEntry.IncomeCoverageAmount | number: '1.0-0' }}
    for {{ modelOutputEntry.MonthsOfSalaryCoverage }} months).<br /><br />
    Worried about your future plans besides finding employment with your new degree?<br /><br />
    Not a concern, this policy includes a repayment of a portion of all payments made under the following events:
    <ul>
      <li>{{ modelOutputSummary.DropOutCoveragePercentage }}% of all payments returned if you drop-out of school, for any reason</li>
      <li>{{ modelOutputSummary.GradSchoolCoveragePercentage }}% of all payments returned if you continue on to graduate school</li>
      <li>{{ modelOutputSummary.EarlyHireCoveragePercentage }}% of all payments returned if you line up a job before you graduate</li>
    </ul>
  </div>
</div>
<div *ngIf="isSendingResults" class="row justify-content-center" id="sendingResultsProgressBar">
  <div class="col-md-6 text-left">
    <progressbar [value]="100" [animate]="true" [striped]="true">Sending...</progressbar>
  </div>
</div>
<div *ngIf="isResultsEmailSent">
  <br clear="all" />
  {{ modalMessage }}
  <br clear="all" />
</div>
<div>
  <button type="button" class="btn btn-primary"
          (click)="revealModelInputsAgain()">
    Want to Calculate Your Payment Again?
  </button>
</div>
<div>
  <button type="button" class="btn btn-info" style="margin-bottom: 2em;"
          (click)="openConfirmationModal(provideEmailTemplate)"
          [disabled]="isResultsEmailSent">
    Email Me My Monthly Payment Results
  </button>
</div>

<ng-template #provideEmailTemplate>
  <div class="modal-body text-center">
    <div class="form-group">
      <label for="recipientAddressField"><b>Email Address:</b></label>
      <input [(ngModel)]="resultsEmailEntry.RecipientAddress"
              id="recipientAddressField"
              name="recipientAddress"
              class="form-control"
              placeholder="Email Address" />
    </div>

    <div class="form-group">
      <label for="recipientNameField"><b>Name (Optional):</b></label>
      <input [(ngModel)]="resultsEmailEntry.RecipientName"
              id="recipientNameField"
              name="recipientName"
              class="form-control"
              placeholder="Name" />
    </div>

    <button type="button" class="btn btn-info" (click)="confirmSendEmail()">
      Send Email
    </button>
    <button type="button" class="btn btn-default" (click)="declineSendEmail()">
      Cancel
    </button>
  </div>
</ng-template>
