<div class="table-responsive">
  <table align="center" class="table">
    <thead>
      <tr>
        <td><b>{{ modelOutputSummary.ModelOutputHeaders.CoverageMonths }}</b></td>
        <td><b>{{ modelOutputSummary.ModelOutputHeaders.YearOneName }}</b></td>
        <td><b>{{ modelOutputSummary.ModelOutputHeaders.YearTwoName }}</b></td>
        <td><b>{{ modelOutputSummary.ModelOutputHeaders.YearThreeName }}</b></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modelOutputEntry of modelOutputSummary.ModelOutputEntries">
        <td>{{ modelOutputEntry.MonthsOfSalaryCoverage }}</td>
        <td>${{ modelOutputEntry.YearOneMonthlyPremiumAmount | number: '1.0-0' }}</td>
        <td>${{ modelOutputEntry.YearTwoMonthlyPremiumAmount | number: '1.0-0' }}</td>
        <td>${{ modelOutputEntry.YearThreeMonthlyPremiumAmount | number: '1.0-0' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row justify-content-center" id="policyDetailsContent">
  <div class="col-md-8 text-left">
    Worried about your future plans besides finding employment with your new degree?<br/><br/>
    Not a concern, this policy includes a repayment of a portion of all payments made under the following events:
    <ul>
      <li>{{ modelOutputSummary.DropOutCoveragePercentage }}% of all payments returned if you drop-out of school, for any reason</li>
      <li>{{ modelOutputSummary.GradSchoolCoveragePercentage }}% of all payments returned if you continue on to graduate school</li>
      <li>{{ modelOutputSummary.EarlyHireCoveragePercentage }}% of all payments returned if line up a job before you graduate</li>
    </ul>
  </div>
</div>
<div>
  <button type="button" class="btn btn-primary"
          (click)="revealModelInputsAgain()">Want to Calculate Your Payment Again?</button>
</div>
<div>
  <button type="button" class="btn btn-info" style="margin-bottom: 2em;"
          (click)="revealModelInputsAgain()">Email Me My Monthly Payment Results</button>
</div>
