<div class="table-responsive table-sm">
  <table align="center" class="table">
    <thead class="thead-light">
      <tr>
        <td><b>Date</b></td>
        <td><b>Amount</b></td>
        <td><b>Status</b></td>
        <td><b>Comments</b></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paymentHistoryEntry of paymentHistoryEntries">
        <td><i>{{ paymentHistoryEntry.PaymentDate | date: 'shortDate' }}</i></td>
        <td>${{ paymentHistoryEntry.PaymentAmount | number: '1.2-2' }}</td>
        <td>{{ paymentHistoryEntry.PaymentStatus }}</td>
        <td>{{ paymentHistoryEntry.PaymentComments }}</td>
      </tr>
    </tbody>
  </table>
</div>
