<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EduSafe.IO.InputOutput" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <EduSafe.IO.InputOutput>
      <setting name="EmailServer" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="EmailTimeout" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="EmailUser" serializeAs="String">
        <value>administrator@edusafe.company</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>Edu$afe2019</value>
      </setting>
      <setting name="EmailPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="EmailDisplayName" serializeAs="String">
        <value>Edu$afe, Inc.</value>
      </setting>
      <setting name="EmailReceiver" serializeAs="String">
        <value>inquiries@edusafe.company</value>
      </setting>
      <setting name="WebsiteInquiryDatabaseName" serializeAs="String">
        <value>EduSafeDB</value>
      </setting>
      <setting name="WebsiteInquiryServerName" serializeAs="String">
        <value>edusafe.database.windows.net</value>
      </setting>
      <setting name="WebsiteInquiryUserName" serializeAs="String">
        <value>EduSafeAdmin</value>
      </setting>
      <setting name="WebsiteInquiryPassword" serializeAs="String">
        <value>Master123</value>
      </setting>
      <setting name="WebsiteInquiryPort" serializeAs="String">
        <value>1433</value>
      </setting>
    </EduSafe.IO.InputOutput>
  </applicationSettings>
</configuration>