/* Master Styles */
* {
  font-family: Helvetica, Arial, sans-serif;
}

.spinner {
  width: 2em;
  height: 2em;
  background-color: #1886fe;
  margin: 5em auto;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(6em) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(6em) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(6em) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(6em) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(6em) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(6em) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-webkit-keyframes sk-rotateplane{
  0% {
    -webkit-transform: perspective(6em);
  }
  50% {
    -webkit-transform: perspective(6em) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(6em) rotateY(180deg) rotateX(180deg);
  }
}
