h1 {
  color: #1886fe;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 250%;
  font-weight: bold;
  margin-left: 0.3em;
  margin-top: 0.2em;
  margin-bottom: 0;
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

h3 {
  color: #808080;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 120%;
  font-weight: lighter;
  margin-left: 3.5em;
}

.navigation {
  margin-top: 3.0em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0.2em;
  padding: 0;
  list-style-type: none;
}

  .navigation li {
    display: inline-block;
    color: #808080;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 120%;
    margin: 0.3em;
  }

    .navigation li:hover, .navigation li:focus {
      color: #1886fe;
      cursor: pointer;
    }

button {
  margin-top: 1em;
  margin-bottom: 2em;
}

#headerBorder {
  border-bottom: 1px solid #808080;
  margin: 0;
}

#titleHeader {
  background-color: #e8f7f8;
  margin: 0;
  padding: 0;
}

#navigationHeader {
  background-color: #e8f7f8;
  margin: 0;
  padding: 0;
}

#footerContent {
  background-color: #403f3f;
  color: #aac3de;
  font-size: 70%;
  margin: 0;
  padding: 2em;
  padding-bottom: 20em;
  flex-grow: 4;
}

@media only screen and (max-width: 767px) {
  h1 {
    color: #1886fe;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 220%;
    font-weight: bold;
    margin-top: 0.25em;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
    text-shadow: none;
  }

  h3 {
    color: #808080;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 80%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    text-align: center;
  }

  .navigation {
    margin-top: 0;
    margin-right: 0;
    list-style-type: none;
  }

    .navigation li {
      display: inline-block;
      color: #808080;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 80%;
    }

  #headerBorder {
    border-bottom: 1px solid white;
  }

  #titleHeader {
    background-color: #e8f7f8;
    margin: 0;
    padding: 0;
  }

  #navigationHeader {
    background-color: #c9ffde;
    margin: 0;
    padding: 0;  
  }

  #footerContent {
    background-color: #403f3f;
    color: #aac3de;
    font-size: 50%;
    margin: 0;
    padding: 2em;
    padding-bottom: 20em;
  }
}
