h1 {
  color: #1886fe;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 250%;
  font-weight: bold;
  margin-left: 0.8em;
  margin-top: 0.2em;
}

h3 {
  color: #808080;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 120%;
  font-weight: bold;
  margin-right: 1em;
  margin-top: 1.35em;
}

button {
  margin: 1em;
}

#headerBorder {
  border-bottom: 1.5px solid #808080;
  margin: 0;
}

#titleHeader {
  background-color: #e8f7f8;
  margin: 0;
  padding: 0;
}

#subtitleHeader {
  background-color: #e8f7f8;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  h1 {
    color: #1886fe;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 220%;
    font-weight: bold;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0;
    text-align: center;
  }

  h3 {
    color: #808080;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 80%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0;
    text-align: center;
  }

  #headerBorder {
    border-bottom: 1px solid white;
  }

  #titleHeader {
    background-color: #e8f7f8;
    margin: 0;
    padding: 0;
  }

  #subtitleHeader {
    background-color: #c9ffde;
    margin: 0;
    padding: 0;
  }
}
