#homeImages {
  max-width: 75%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.homeContent {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 150%;
  font-weight: bold;
  color: #197ce9;
  background-color: #e8f7f8;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.slide-in-left {
  animation: animationFramesLeft ease 1.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFramesLeft ease 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
}

.slide-in-right {
  animation: animationFramesRight ease 1.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFramesRight ease 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
}

@media only screen and (max-width: 600px) {
  #homeImages {
    max-width: 95%;
    height: auto;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .homeContent {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #197ce9;
    background-color: #c9ffde;
  }
}

@keyframes animationFramesLeft {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes animationFramesLeft {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes animationFramesRight {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes animationFramesRight {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
