<div class="subTitleContent">Student Loan Default Insurance for Higher Education Institutions</div>
<div class="slide-in-left">
  <img src="assets/EduSafe_0_Logo.svg" id="homeImages">
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="revealModelInputs()" style="margin-bottom: 0.1em;">
    Estimate Monthly Payments
  </button>
</div>
<div>
  <button type="button" class="btn btn-success" (click)="loadIndividualsPage()">
    Edu$afe For Individuals
  </button>
</div>
<div class="homeContent">Are you concerned about your former students defaulting on their student loan payments?</div>
<br clear="all" />
<div>
  <button type="button" class="btn btn-info" (click)="goToContactUs()" style="margin-bottom: 0.1em;">
    &nbsp;&nbsp;Have More Questions?&nbsp;&nbsp;
  </button>
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="revealModelInputs()">
    Estimate Monthly Payments
  </button>
</div>
