<div class="subTitleContent">Student Loan Default Insurance for Higher Education Institutions</div>
<div class="slide-in-left">
  <img src="assets/EduSafe_0_Logo.svg" id="homeImagesTwo">
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="revealModelInputs()" style="margin-bottom: 0.1em;">
    Estimate Monthly Payments
  </button>
</div>
<div>
  <button type="button" class="btn btn-success" (click)="loadIndividualsPage()">
    Edu$afe For Individuals
  </button>
</div>
<div class="homeContent">Are you concerned about your former students defaulting on their student loan payments?</div>
<br clear="all" />
<div animateOnScroll animationName="slide-in-right">
  <img src="assets/EduSafe_Institution_CDR.png" id="homeImagesOne">
</div>
<div animateOnScroll animationName="slide-in-left">
  <div class="row justify-content-center" id="detailsContent">
    <div class="col-md-8 text-left">
      Cohort default rates have been falling since the Great Recession ended, but the future is unknown.
      The next recession may always be just around the corner, which could put your institution at risk for rising cohort default rates.<br />
      <br clear="all" />
      When cohort default rates rise high enough, your institution could face sanctions from the U.S. Department of Education.
    </div>
  </div>
</div>
<br clear="all" />
<div class="homeContent">Does the uncertainty of your graduates entering the employment market during a recession worry you?</div>
<br clear="all" />
<div animateOnScroll animationName="slide-in-right">
  <div class="subTitleContent">
    Unemployment Rates of Recent College Graduates
  </div>
  <div class="table-responsive table-striped">
    <table align="center" class="table">
      <caption class="tableCaption">
        <i>Data From U.S. National Center for Education Statistics (NCES)</i>
      </caption>
      <thead>
        <tr>
          <td><b>Year</b></td>
          <td><b>Rate</b></td>
          <td><b>Impacted by Recession?</b></td>
        </tr>
      </thead>
      <tbody>
        <tr><td>2009</td><td>5.2%</td><td>Yes</td></tr>
        <tr><td>2010</td><td>5.6%</td><td>Yes</td></tr>
        <tr><td>2011</td><td>5.3%</td><td>Yes</td></tr>
        <tr><td>2012</td><td>4.8%</td><td>Maybe</td></tr>
        <tr><td>2013</td><td>4.5%</td><td></td></tr>
        <tr><td>2014</td><td>3.9%</td><td></td></tr>
        <tr><td>2015</td><td>3.5%</td><td></td></tr>
        <tr><td>2016</td><td>3.1%</td><td>No</td></tr>
        <tr><td>2017</td><td>3.1%</td><td>No</td></tr>
        <tr>
          <td class="table-warning">Future</td>
          <td class="table-warning">?.?%</td>
          <td class="table-warning">Unknown</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div animateOnScroll animationName="slide-in-left">
  <div class="row justify-content-center" id="detailsContent">
    <div class="col-md-8 text-left">
      Unemployment rates for 25-to-29-year-old bachelor’s degree holders were over 5% at the tail end of the last recession.
      Lack of employment in the crucial period of 6-to-12 months after graduation could be much higher, and often overlaps with the end of a former student's loan repayment grace period.<br />
      <br clear="all" />
      Moreover, there is a significant repuational risk in producing high volumes of unemployed debt-laden degree holders.
    </div>
  </div>
</div>
<br clear="all" />
<div class="homeContent">Do you want better control over the potential educational outcomes of your students?</div>
<br clear="all" />
<div animateOnScroll animationName="slide-in-right">
  <img src="assets/EduSafe_Institution_Outcomes.svg" id="homeImagesTwo">
</div>
<div animateOnScroll animationName="slide-in-left">
  <div class="row justify-content-center" id="detailsContent">
    <div class="col-md-8 text-left">
      Uncertainty in student outcomes is a part of higher education.
      Students may or may not finish their degrees, and they may or may not benefit from the degrees they earn.<br />
      <br clear="all" />
      Edu$afe offers a way to provide incentives for promising students to graduate, as well as a means to support those students who are likely to unenroll prior to graduation.
    </div>
  </div>
</div>
<br clear="all" />
<div class="homeContent">Edu$afe offers an insurance product for institutions that addresses all of these concerns.</div>
<br clear="all" />
<button type="button" class="btn btn-primary" (click)="revealModelInputs()">
  Estimate Monthly Payments
</button>
<br clear="all" />
<div style="align-content: center;">
  <img src="assets/EduSafe_0_Logo.svg" id="homeImagesTwo" class="lowerImage">
</div>
<br clear="all" />
<br clear="all" />
<div class="homeContent">Keep scrolling below to learn more about Edu$afe's product for institutions.</div>
<div animateOnScroll animationName="slide-in-right">
  <div class="row justify-content-center" id="detailsContent">
    <div class="col-md-8 text-left">
      <div class="subTitleContent">Edu$afe's Institutional Product</div>
      Edu$afe offers a product that holistically protects both the university and its students from student loan defaults
      during the crucial three-year cohort default rate measurement period. The product has two features:<br />
      <br clear="all" />
      <ul>
        <li>Unenrollment Warranty Coverage (UWC)</li>
        <li>Undergraduate Unemployment Insurance (UUI)</li>
      </ul>
    </div>
  </div>
</div>
<div animateOnScroll animationName="slide-in-left">
  <div class="row justify-content-center" id="detailsContent">
    <div class="col-md-8 text-left">
      <div class="subTitleContent">Unenrollment Warranty Coverage (UWC)</div>
      This feature is a warranty that will pay up to 36 months of student loan payments for those former students of your
      institution that are most vulnerable to default: namely, those that unenrolled within their first or second year
      without completing their education.<br />
      <br clear="all" />
      So long as the former student enters an income-based repayment (IBR) plan,
      Edu$afe will cover their student loan payments for up to 36 months.
    </div>
  </div>
</div>
<br clear="all" />
<div animateOnScroll animationName="slide-in-right">
  <div class="row justify-content-center" id="detailsContent">
    <div class="col-md-8 text-left">
      <div class="subTitleContent">Undergraduate Unemployment Insurance (UUI)</div>
      This feature of Edu$afe’s product will cover up to 36 months of student loan payments for graduates of your
      institution that cannot find employment after actively searching for 3 months. A claim for this coverage can be made any
      time within 1 year following graduation.<br />
      <br clear="all" />
      This feature protects the student and the university against the unexpected
      event of graduation occurring during a recession.
    </div>
  </div>
</div>
<br clear="all" />
<div>
  <button type="button" class="btn btn-info" (click)="goToContactUs()" style="margin-bottom: 0.1em;">
    &nbsp;&nbsp;Have More Questions?&nbsp;&nbsp;
  </button>
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="revealModelInputs()">
    Estimate Monthly Payments
  </button>
</div>
