<div class="subTitleContent">Unemployment Insurance for Future College Graduates</div>
<div class="slide-in-left">
  <img src="assets/EduSafe_0_Logo.svg" id="homeImages">
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="revealModelInputs()" style="margin-bottom: 0.1em;">
    Calculate Your Coverage
  </button>
</div>
<div>
  <button type="button" class="btn btn-success" (click)="loadInstitutionsPage()">
    Edu$afe For Institutions
  </button>
</div>
<div class="homeContent">Do you find yourself fretting over whether you'll be able to find a decent job once you obtain your new college degree?</div>
<br clear="all" />
<div animateOnScroll animationName="slide-in-right">
  <img src="assets/EduSafe_1_Comic.svg" id="homeImages">
</div>
<br clear="all" />
<div class="homeContent">Are you ever nervous that your choice of major could suddenly be less worthwhile in today's job market?</div>
<br clear="all" />
<div animateOnScroll animationName="slide-in-left">
  <img src="assets/EduSafe_2_Comic.svg" id="homeImages">
</div>
<br clear="all" />
<div class="homeContent">Do you have real concerns about how you'll afford to pay your debt after furthering your education?</div>
<br clear="all" />
<div animateOnScroll animationName="slide-in-right">
  <img src="assets/EduSafe_3_Comic.svg" id="homeImages">
</div>
<br clear="all" />
<div class="homeContent">Well, we here at Edu$afe have you covered. Click below to estimate your monthly payment.</div>
<br clear="all" />
<button type="button" class="btn btn-primary" (click)="revealModelInputs()">
  Calculate Your Coverage
</button>
<br clear="all" />
<div style="align-content: center;">
  <img src="assets/EduSafe_0_Logo.svg" id="homeImages" class="lowerImage">
</div>
<br clear="all" />
<br clear="all" />
<div class="homeContent">Want to know more about how Edu$afe's product works? Keep scrolling to find out.</div>
<div animateOnScroll animationName="slide-in-left">
  <div class="row justify-content-center" id="detailsContent">
    <div class="col-md-8 text-left">
      <div class="subTitleContent">Step 1</div>
      We calculate your monthly payments based on the following information:
      <ul>
        <li>The type of school you attend, public or private, for example.</li>
        <li>Your choice of major, or you can pick "Undeclared".</li>
        <li>The date you started school.</li>
        <li>Your expected graduation date.</li>
        <li>The annual salary you expect to make after graduation.</li>
      </ul>
      You pick the coverage level you want. You can choose as little as <b>1 month</b> of salary or as much as <b>1 year</b>.
    </div>
  </div>
  <br clear="all" />
  <button type="button" class="btn btn-primary" (click)="revealModelInputs()">
    Calculate Your Payments
  </button>
</div>
<div animateOnScroll animationName="slide-in-right">
  <div class="row justify-content-center" id="detailsContent">
    <div class="col-md-8 text-left">
      <div class="subTitleContent">Step 2</div>
      You pay Edu$afe monthly payments up until your graduation date. Your payments may change once a year based on:
      <ul>
        <li>Your grades</li>
        <li>Declaring or changing your major</li>
        <li>Your participation in sports, clubs, etc.</li>
        <li>Any internships you get</li>
        <li>Changes in the economy</li>
      </ul>
      If you drop out of school, you can be eligible to get up to 50% of your total payments back.
    </div>
  </div>
</div>
<br clear="all" />
<div animateOnScroll animationName="slide-in-left">
  <div class="row justify-content-center" id="detailsContent">
    <div class="col-md-8 text-left">
      <div class="subTitleContent">Step 3</div>
      After graduation, if you cannot get a job after three months of trying, you can make a claim. Simple as that.<br/>
      <br clear="all" />
      If you choose to go to grad school or line up a job before graduating, you can get up to 25% of your total payments back.
    </div>
  </div>
</div>
<br clear="all" />
<div>
  <button type="button" class="btn btn-info" (click)="goToContactUs()" style="margin-bottom: 0.1em;">
    &nbsp;&nbsp;Have More Questions?&nbsp;&nbsp;
  </button>
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="revealModelInputs()">
    Calculate Your Payments
  </button>
</div>
